@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSansKR";
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.hidden {
  position: absolute;
  top: -99999999px;
  opacity: 0;
}

#main-visual {
  position: relative;
  width: 100%;
  height: 95vh;
}
#main-visual .frame {
  position: absolute;
  width: 100%;
  height: 100%;
}
#main-visual .frame > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
#main-visual .frame > li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main-visual .frame > li.on {
  opacity: 1;
  z-index: 2;
}
#main-visual .frame > li::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#main-visual .frame-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 400px;
  height: 50px;
  z-index: 3;
}
#main-visual .frame-name > li {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#main-visual .frame-name > li > a {
  font: 20px/1 "NotoSansKR";
  color: #fff;
  position: relative;
}
#main-visual .frame-name > li > a::after {
  position: absolute;
  bottom: -5px;
  display: block;
  content: "";
  width: 0%;
  height: 1px;
  transition: 0.5s;
  background-color: #fff;
}
#main-visual .frame-name > li > a:hover::after {
  width: 100%;
}
#main-visual .frame-name > li.on {
  display: block;
}

#field {
  position: relative;
  width: 100%;
  height: 100vh;
}
#field .frame-index {
  position: absolute;
  top: -50px;
  left: 70px;
  width: 60vw;
  height: 200px;
  transform: translateY(-50%);
  z-index: 3;
  display: flex;
  align-items: end;
  transition: 0.5s;
}
#field .frame-index > li {
  position: relative;
  flex: 1;
  width: 100%;
  height: 60%;
  background-color: #DA2128;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
  transition: 0.5s;
}
#field .frame-index > li > a {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font: 35px/1 "NotoSansKR";
  color: #ddd;
  cursor: default;
}
#field .frame-index > li > a > span {
  font-size: 25px;
}
#field .frame-index > li .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
#field .frame-index > li.on {
  flex: 1.5;
  height: 100%;
  padding-top: 50px;
  position: relative;
}
#field .frame-index > li.on > a {
  font: 55px/1 "NotoSansKR";
  color: #fff;
}
#field .frame-index > li.on > a > span {
  font-size: 35px;
}
#field .frame-index > li.on .bar {
  animation: bar-ani 5s linear;
}
#field .frame-index.on {
  top: 30%;
  left: 50%;
  width: 70vw;
  height: 100px;
  transform: translateX(-50%);
  gap: 20px;
}
#field .frame-index.on > li {
  flex: 1;
  height: 100%;
  padding-top: 0;
  align-items: center;
  background-color: #DA2128;
}
#field .frame-index.on > li > a {
  font: 26px/1 "NotoSansKR";
  color: #fff;
}
#field .frame-index.on > li > a > span {
  font-size: 20px;
}
#field .frame-index.on > li .bar {
  display: none;
}
#field .field-img {
  position: absolute;
  display: flex;
  top: 20%;
  left: 50%;
  width: 70vw;
  height: 50vh;
  transform: translateX(-50%);
  margin-top: 150px;
  gap: 20px;
  opacity: 0;
}
#field .field-img > li {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
#field .field-img > li .field-txt {
  position: absolute;
  width: 100%;
  top: -120px;
  left: 10px;
}
#field .field-img > li .field-txt span {
  color: #4F5959;
}
#field .field-img > li .field-txt span.field-num {
  font: bold 3vw/1 "arial";
}
#field .field-img > li .field-txt span:nth-of-type(2) {
  margin-left: 10px;
  font: 2vw/1 "NotoSansKR";
}
#field .field-img > li .field-txt::after {
  display: block;
  content: "";
  width: 3vw;
  height: 3vw;
  background-image: url("../img/icon/ic-project01.svg");
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
#field .field-img > li a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#field .field-img > li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
#field .field-img > li a img:hover {
  transform: scale(1.2);
}
#field .field-img > li:nth-of-type(2) .field-txt::after {
  background-image: url("../img/icon/ic-project02.svg");
}
#field .field-img > li:nth-of-type(3) .field-txt::after {
  background-image: url("../img/icon/ic-project03.svg");
}
#field .field-img > li:nth-of-type(4) .field-txt::after {
  background-image: url("../img/icon/ic-project04.svg");
}
#field .field-img.on {
  animation: opacity 1s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

#news {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
}

#villiv {
  position: relative;
  width: 100%;
  height: 100vh;
}

@keyframes bar-ani {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#sub-location {
  width: 100%;
  position: relative;
}
#sub-location .map-wrap {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
  position: relative;
}
#sub-location .map-wrap #map {
  width: 60%;
  position: relative;
}
#sub-location .map-wrap .map-txt {
  width: 40%;
  height: 100%;
  padding: 30px 0px 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#sub-location .map-wrap .map-txt > h3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#sub-location .map-wrap .map-txt > h3 > p {
  font: bold 28px/1 "NotoSansKR";
  color: #DA2128;
}
#sub-location .map-wrap .map-txt > h3 > p:last-of-type {
  font: bold 20px/1 "NotoSansKR";
  color: #4F5959;
}
#sub-location .map-wrap .map-txt > h3 > p > i {
  margin-right: 10px;
}
#sub-location .publictransport-wrap {
  width: 90%;
  margin: 0 auto;
}
#sub-location .publictransport-wrap > ul > li {
  position: relative;
}
#sub-location .publictransport-wrap > ul > li.bus {
  margin: 100px 0;
  font: bold 30px/1 "NotoSans";
}
#sub-location .publictransport-wrap > ul > li.bus > ul {
  margin: 50px 0;
}
#sub-location .publictransport-wrap > ul > li.bus > ul > li {
  margin: 50px 0;
  font: bold 22px/1 "NotoSans";
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px 30px;
}
#sub-location .publictransport-wrap > ul > li.bus > ul > li > ul {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}
#sub-location .publictransport-wrap > ul > li.bus > ul > li > ul > li {
  padding: 5px 0;
  font: 18px/1 "NotoSans";
  color: #4F5959;
}
#sub-location .publictransport-wrap > ul > li.bus > ul > li > ul > li:first-of-type {
  padding: 5px 15px;
  color: #fff;
  border-radius: 5px;
}
#sub-location .publictransport-wrap > ul > li.bus > ul > li > ul > li.back-b {
  background-color: #2B75E4;
}
#sub-location .publictransport-wrap > ul > li.bus > ul > li > ul > li.back-y {
  background-color: #F0BF12;
}
#sub-location .publictransport-wrap > ul > li.bus > ul > li > ul > li.back-r {
  background-color: #DC2B20;
}
#sub-location .publictransport-wrap > ul > li.bus > ul > li > ul > li.back-g {
  background-color: #4BAA11;
}
#sub-location .publictransport-wrap > ul > li.bus > ul > li > ul > li.back-lg {
  background-color: #A0CA5B;
}
#sub-location .publictransport-wrap > ul > li.subway {
  margin: 100px 0;
  font: bold 30px/1 "NotoSans";
}
#sub-location .publictransport-wrap > ul > li.subway > ul {
  margin: 50px 0;
}
#sub-location .publictransport-wrap > ul > li.subway > ul > li {
  margin: 50px 0;
  font: bold 22px/1 "NotoSans";
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px 30px;
}
#sub-location .publictransport-wrap > ul > li.subway > ul > li > ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#sub-location .publictransport-wrap > ul > li.subway > ul > li > ul > li {
  display: flex;
  gap: 20px;
}
#sub-location .publictransport-wrap > ul > li.subway > ul > li > ul > li > p {
  font: 18px/1 "NotoSans";
  padding: 5px 15px;
  color: #fff;
  border-radius: 5px;
}
#sub-location .publictransport-wrap > ul > li.subway > ul > li > ul > li > p.line1 {
  background-color: #263C96;
}
#sub-location .publictransport-wrap > ul > li.subway > ul > li > ul > li > p.line2 {
  background-color: #3CB44A;
}
#sub-location .publictransport-wrap > ul > li.subway > ul > li > ul > li > p.line4 {
  background-color: #2C9EDE;
}
#sub-location .publictransport-wrap > ul > li.subway > ul > li > ul > li > p.lineg1 {
  background-color: #7CC4A5;
}
#sub-location .publictransport-wrap > ul > li.subway > ul > li > ul > li > p.lineg2 {
  background-color: #69A5D1;
}
#sub-location .publictransport-wrap > ul > li.subway > ul > li > ul > li > span {
  font: 18px/30px "NotoSansKR";
}
#sub-location .publictransport-wrap > ul > li::before {
  display: block;
  content: "";
  background-image: url("../../img/logo/color.svg");
  width: 90px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.business-title {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.business-title::after {
  display: block;
  content: "";
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.business-title .title-txt {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.business-title .title-txt > h2 {
  font: bold 50px/1 "NotoSansKR";
  color: #fff;
  position: relative;
}
.business-title .title-txt > h2::after {
  display: block;
  content: "";
  width: 1px;
  height: 50px;
  margin: 20px 0 20px 5px;
  background-color: #fff;
  opacity: 0.7;
}
.business-title .title-txt > p {
  font: 20px/2 "NotoSansKR";
  color: #fff;
  position: relative;
}

.business-inner {
  position: relative;
  width: 80%;
  height: auto;
  min-height: 50vh;
  margin: 0 auto;
}
.business-inner .business-nav {
  position: absolute;
  width: 80%;
  height: 70px;
  background-color: #fff;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  box-shadow: 1px 1px 10px rgba(153, 153, 153, 0.2);
}
.business-inner .business-nav > p {
  width: 200px;
  height: 100%;
  background-color: #DA2128;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 20px/1 "NotoSansKR";
  color: #fff;
  cursor: default;
}
.business-inner .business-nav > ul {
  width: calc(100% - 200px);
  display: flex;
}
.business-inner .business-nav > ul > li {
  flex: 1;
}
.business-inner .business-nav > ul > li > a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font: 20px/1 "NotoSansKR";
  border-right: 1px solid #eee;
}
.business-inner .business-nav > ul > li > a.on {
  font-weight: bold;
}
.business-inner .business-nav > ul > li > a:hover {
  font-weight: bold;
  color: #DA2128;
}
.business-inner .business-content {
  position: relative;
  width: 100%;
  height: auto;
  padding: 150px 0px;
}
.business-inner .business-content .main-content {
  margin-left: 100px;
  width: 100%;
  height: 600px;
  display: flex;
  gap: 50px;
}
.business-inner .business-content .main-content > .img {
  flex: 1;
  padding: 50px 0px;
  width: 100%;
  height: 100%;
}
.business-inner .business-content .main-content > .img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.business-inner .business-content .main-content > .txt {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.business-inner .business-content .main-content > .txt > p:nth-of-type(1) {
  font: bold 40px/1 "NotoSansKR";
}
.business-inner .business-content .main-content > .txt > p:nth-of-type(1)::after {
  display: block;
  content: "";
  width: 2px;
  height: 100px;
  margin: 15px 0 10px 10px;
  background-color: #DA2128;
  opacity: 0.5;
}
.business-inner .business-content .main-content > .txt > p:nth-of-type(1) > span {
  font-size: 26px;
  color: #4F5959;
  margin-left: 20px;
}
.business-inner .business-content .main-content > .txt > p:nth-of-type(2) {
  font: 18px/1.5 "NotoSansKR";
}
.business-inner .business-content .business-list {
  width: 90%;
  margin: 0 auto;
}
.business-inner .business-content .business-list .icon-list {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
}
.business-inner .business-content .business-list .icon-list > li {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}
.business-inner .business-content .business-list .icon-list > li > a {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.business-inner .business-content .business-list .icon-list > li > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.business-inner .business-content .business-list .icon-list > li > a > img:nth-of-type(2) {
  opacity: 0;
}
.business-inner .business-content .business-list .icon-list > li > a > i {
  color: #4F5959;
  font-size: 20px;
}
.business-inner .business-content .business-list .icon-list > li.on > a > img:nth-of-type(1) {
  opacity: 0;
}
.business-inner .business-content .business-list .icon-list > li.on > a > img:nth-of-type(2) {
  opacity: 1;
}
.business-inner .business-content .business-list .icon-list > li.on > a > i {
  color: #DA2128;
}
.business-inner .business-content .business-list .icon-list > li:hover > a > img:nth-of-type(1) {
  opacity: 0;
}
.business-inner .business-content .business-list .icon-list > li:hover > a > img:nth-of-type(2) {
  opacity: 1;
}
.business-inner .business-content .business-list .icon-list > li:hover > a > i {
  color: #DA2128;
}
.business-inner .business-content .business-list .img-list.grid {
  width: 90%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  transition: 0.5s;
}
.business-inner .business-content .business-list .img-list.grid > li {
  display: flex;
  justify-content: center;
  width: 33.3333333333%;
  margin-bottom: 20px;
  padding: 20px;
}
.business-inner .business-content .business-list .img-list.grid > li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.business-inner .business-content .business-list .img-list.grid > li > a > img {
  width: 100%;
  object-fit: cover;
}
.business-inner .business-content .business-list .img-list.grid > li > a > span {
  display: none;
}
.business-inner .business-content .business-list .img-list.grid > li > a > p:nth-of-type(1) {
  margin: 10px 0;
  font: bold 18px/1 "NotoSansKR";
}
.business-inner .business-content .business-list .img-list.list-ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.business-inner .business-content .business-list .img-list.list-ul > li {
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 15px;
}
.business-inner .business-content .business-list .img-list.list-ul > li > a {
  display: flex;
  padding: 15px 20px 15px 0;
}
.business-inner .business-content .business-list .img-list.list-ul > li > a > img {
  display: none;
}
.business-inner .business-content .business-list .img-list.list-ul > li > a > span {
  display: block;
  flex: 1;
  font-weight: bold;
  text-align: center;
  color: #DA2128;
}
.business-inner .business-content .business-list .img-list.list-ul > li > a > p:nth-of-type(1) {
  flex: 15;
  text-align: left;
}
.business-inner .business-content .business-list .img-list.list-ul > li > a > p:nth-of-type(2) {
  flex: 3;
  text-align: right;
}
.business-inner .business-content .business-list .img-list.list-ul > li:hover {
  background-color: #4F5959;
}
.business-inner .business-content .business-list .img-list.list-ul > li:hover > a > span {
  color: #fff;
}
.business-inner .business-content .business-list .img-list.list-ul > li:hover > a > p {
  color: #fff;
}

.sub-inner {
  width: 100%;
  height: auto;
  padding: 150px 0 100px;
}
.sub-inner .sub-nav {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #DA2128;
  z-index: 4;
}
.sub-inner .sub-nav > ul {
  display: flex;
  width: 100%;
  height: 100%;
}
.sub-inner .sub-nav > ul > li {
  max-width: auto;
  height: 50px;
}
.sub-inner .sub-nav > ul > li > a {
  display: flex;
  width: auto;
  height: 50px;
  text-align: left;
  align-items: center;
  font: 16px/1 "NotoSansKR";
  color: #fff;
  cursor: default;
}
.sub-inner .sub-nav > ul > li > a::after {
  display: block;
  cursor: default;
  content: ">";
  margin: 0 20px;
}
.sub-inner .sub-nav > ul > li:nth-of-type(1) > a {
  cursor: pointer;
  margin-left: 40px;
}
.sub-inner .sub-nav > ul > li:nth-of-type(3) > a {
  cursor: pointer;
}
.sub-inner .sub-nav > ul > li:nth-of-type(3) > a::after {
  display: none;
}
.sub-inner .sub-nav > ul > li > ul {
  visibility: hidden;
  background-color: #4F5959;
  padding: 20px;
  border-radius: 0px;
  opacity: 0;
  transition: 0.3s;
}
.sub-inner .sub-nav > ul > li > ul > li {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #ddd;
  font: 16px/1 "NotoSansKR";
  border-bottom: 0.5px solid #777;
}
.sub-inner .sub-nav > ul > li > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  display: flex;
  color: #fff;
  font-weight: bold;
}
.sub-inner .sub-nav > ul > li > ul > li:last-of-type {
  border-bottom: none;
}
.sub-inner .sub-nav > ul > li > ul.on {
  visibility: visible;
  opacity: 1;
}
.sub-inner .sub-content {
  width: 80%;
  margin: 0 auto;
}
.sub-inner .sub-content .sub-title {
  width: 100%;
  height: 250px;
  padding: 100px 50px 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid #DA2128;
}
.sub-inner .sub-content .sub-title > h2 {
  font: bold 50px/1 "NotoSansKR";
}
.sub-inner .sub-content .sub-title > p {
  font: 18px/1 "NotoSansKR";
}
.sub-inner .sub-content .sub-title.history-title {
  border-bottom: none;
}

#sub-history {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
#sub-history .history-nav {
  width: 100%;
  height: 70px;
  position: relative;
}
#sub-history .history-nav .progress-bar {
  display: none;
}
#sub-history .history-nav > ul {
  position: absolute;
  bottom: 110px;
  width: 100%;
  height: 3px;
  background-color: #DA2128;
  display: flex;
  justify-content: space-evenly;
  z-index: 3;
}
#sub-history .history-nav > ul > li {
  position: relative;
}
#sub-history .history-nav > ul > li > a > span {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #c71a20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #DA2128;
}
#sub-history .history-nav > ul > li > a > p {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  text-align: center;
  font: 18px/1 "NotoSansKR";
}
#sub-history .history-nav > ul > li.on > a > span {
  background-color: #fff;
}
#sub-history .history-nav > ul > li.on > a > p {
  font-weight: bold;
}
#sub-history .history-nav.fixed {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #DA2128;
}
#sub-history .history-nav.fixed .progress-bar {
  display: block;
  width: 40%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#sub-history .history-nav.fixed .progress-bar > div {
  position: absolute;
  height: 3px;
  left: 0;
  top: 45%;
}
#sub-history .history-nav.fixed .progress-bar > div.progress-bar1 {
  z-index: 1;
  background-color: #fff;
  width: 100%;
}
#sub-history .history-nav.fixed .progress-bar > div.progress-bar2 {
  z-index: 2;
  background-color: #4F5959;
}
#sub-history .history-nav.fixed > ul {
  width: 40%;
  left: 50%;
  top: 45%;
  height: 0;
  transform: translateX(-50%);
  background-color: inherit;
  justify-content: initial;
}
#sub-history .history-nav.fixed > ul > li {
  flex: 1;
}
#sub-history .history-nav.fixed > ul > li > a > span {
  left: 0;
  background-color: #ddd;
  border: 5px solid #fff;
}
#sub-history .history-nav.fixed > ul > li > a > p {
  left: 0;
  color: #fff;
}
#sub-history .history-nav.fixed > ul > li.on > a > span {
  background-color: #4F5959;
}
#sub-history .history-nav.fixed > ul::after {
  display: block;
  content: "";
  background-image: url("../../img/logo/white.svg");
  width: 50px;
  height: 50px;
  position: absolute;
  right: -50px;
  top: -25px;
}
#sub-history .history-nav.fixed > ul.end::after {
  background-image: url("../../img/logo/black.svg");
}
#sub-history .history-wrap {
  width: 100%;
  height: auto;
  padding: 150px;
  background-color: #ddd;
}
#sub-history .history-wrap > div {
  width: 100%;
  height: 200vh;
}

#sitemap {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  display: flex;
}
#sitemap .sitemap-close {
  display: flex;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  background-color: #DA2128;
  justify-content: center;
  align-items: center;
}
#sitemap .sitemap-close > i {
  font-size: 30px;
  color: #fff;
}
#sitemap .sitemap-left {
  position: relative;
  width: 15%;
  height: 100%;
  background-color: #DA2128;
  padding: 200px 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(153, 153, 153, 0.1);
}
#sitemap .sitemap-left > h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #fff;
  position: relative;
  cursor: default;
}
#sitemap .sitemap-left > h2::before {
  display: block;
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../img/logo/white.svg");
  background-size: cover;
  cursor: pointer;
  animation: rotate 30s linear infinite;
}
#sitemap .sitemap-left > h2:hover::before {
  animation-play-state: paused;
}
#sitemap .sitemap-left > h2 > img {
  width: 80%;
}
#sitemap .sitemap-left > h2 > span {
  font: 30px/1 "NotoSansKR";
}
#sitemap .sitemap-left .sitemap-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
#sitemap .sitemap-left .sitemap-btns > li {
  width: 100%;
  display: flex;
  justify-content: center;
}
#sitemap .sitemap-left .sitemap-btns > li > a {
  display: flex;
  width: 90%;
  height: 40px;
  justify-content: center;
  align-items: center;
  font: 18px/1 "NotoSansKR";
  color: #4F5959;
  border-radius: 5px;
  background-color: #DA2128;
  color: #f8f8f8;
}
#sitemap .sitemap-left > p {
  position: absolute;
  bottom: 0;
  font: 12px/1 "NotoSansKR";
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #888;
  color: #fff;
}
#sitemap .sitemap-right {
  width: 85%;
  height: 100%;
  padding: 100px;
}
#sitemap .sitemap-right .sitemap-1depth {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
#sitemap .sitemap-right .sitemap-1depth > li {
  flex: 1;
}
#sitemap .sitemap-right .sitemap-1depth > li > a {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  gap: 10px;
  font: bold 30px/1 "NotoSansKR";
  color: #4F5959;
}
#sitemap .sitemap-right .sitemap-1depth > li > a > span {
  font: bold 18px/1 "NotoSanaKR";
  color: #DA2128;
}
#sitemap .sitemap-right .sitemap-1depth > li .sitemap-2depth {
  width: 100%;
}
#sitemap .sitemap-right .sitemap-1depth > li .sitemap-2depth > li > a {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  font: bold 18px/1 "NotoSansKR";
  color: #4F5959;
}
#sitemap .sitemap-right .sitemap-1depth > li .sitemap-2depth > li > a::before {
  display: block;
  content: "·";
  margin: 0 10px;
}
#sitemap .sitemap-right .sitemap-1depth > li .sitemap-2depth > li .sitemap-3depth {
  width: 100%;
}
#sitemap .sitemap-right .sitemap-1depth > li .sitemap-2depth > li .sitemap-3depth > li {
  margin-left: 10px;
  width: 100%;
  position: relative;
}
#sitemap .sitemap-right .sitemap-1depth > li .sitemap-2depth > li .sitemap-3depth > li::before {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #DA2128;
  position: absolute;
  left: 0px;
}
#sitemap .sitemap-right .sitemap-1depth > li .sitemap-2depth > li .sitemap-3depth > li > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  font: 16px/1 "NotoSansKR";
  color: #000;
  margin-left: 15px;
}
#sitemap .sitemap-right .sitemap-1depth > li .sitemap-2depth > li .sitemap-3depth > li .sitemap-4depth {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
}
#sitemap .sitemap-right .sitemap-1depth > li .sitemap-2depth > li .sitemap-3depth > li .sitemap-4depth > li > a {
  position: relative;
  display: block;
  margin-left: 7px;
  font: 15px/30px "NotoSansKR";
  color: #888;
}
#sitemap .sitemap-right .sitemap-1depth > li .sitemap-2depth > li .sitemap-3depth > li .sitemap-4depth > li > a::before {
  display: block;
  content: "·";
  position: absolute;
  left: -7px;
}
#sitemap .sitemap-right .sitemap-1depth > li:nth-of-type(4) {
  flex: 1.5;
}

@keyframes rotate {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
.main-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}
.main-bg.on {
  display: block;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: height 0.5s;
}
#header h1 a {
  height: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  font: bold 26px/1 "NotoSansKR";
  color: #fff;
}
#header h1 a::before {
  display: block;
  content: "";
  background-image: url(../../img/logo/white.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
}
#header h1.main-logo a::before {
  background-image: url(../../img/logo/white.svg);
}
#header nav .header-gnb {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
}
#header nav .header-gnb > li {
  width: 160px;
  height: 100px;
}
#header nav .header-gnb > li > a {
  display: flex;
  width: 160px;
  height: 100px;
  justify-content: center;
  align-items: center;
  font: bold 16px/1 "NotoSansKR";
  color: #fff;
}
#header nav .header-gnb .header-sub {
  visibility: hidden;
  position: absolute;
  display: block;
  top: 120px;
}
#header nav .header-gnb .header-sub > li {
  width: 160px;
  height: 35px;
}
#header nav .header-gnb .header-sub > li > a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font: 15px/1 "NotoSansKR";
}
#header nav .header-gnb .header-sub > li > a:hover {
  font-weight: bold;
}
#header nav .header-gnb .header-sub > li > a.sub-color {
  color: #DA2128;
}
#header nav .header-gnb .header-sub::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 0.5px;
  height: 100%;
  background-color: #eee;
}
#header #search-txt {
  display: none;
}
#header .search-close {
  display: none;
}
#header .header-icon {
  height: 100px;
  display: flex;
  align-items: center;
}
#header .header-icon li > a {
  display: block;
  width: 40px;
  height: 40px;
}
#header .header-icon li > a i {
  font-size: 18px;
  line-height: 40px;
  color: #fff;
}
#header .header-icon li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
#header .header-icon li > span > img {
  height: 100%;
  object-fit: cover;
}
#header .header-icon li > span:nth-of-type(2) {
  display: none;
}
#header.on {
  width: 100%;
  height: 460px;
  background-color: #fff;
  align-items: start;
  z-index: 5;
  transition: height 0.5s;
}
#header.on h1 a {
  color: #4F5959;
}
#header.on h1 a::before {
  background-image: url(../img/logo/color.svg);
}
#header.on nav .header-gnb > li {
  width: 160px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
}
#header.on nav .header-gnb > li > a {
  height: 40px;
  font: bold 16px/1 "NotoSansKR";
  color: #4F5959;
  position: relative;
}
#header.on nav .header-gnb > li .header-sub {
  visibility: visible;
}
#header.on nav .header-gnb > li:nth-of-type(1) .header-sub::before {
  display: none;
}
#header.on nav .header-gnb > li:hover > a::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60%;
  transform: translateX(-50%);
  height: 3px;
  background-color: #DA2128;
}
#header.on .header-icon {
  height: 100px;
  display: flex;
  align-items: center;
}
#header.on .header-icon li > a i {
  color: #4F5959;
}
#header.on .header-icon li > span:nth-of-type(1) {
  display: none;
}
#header.on .header-icon li > span:nth-of-type(2) {
  display: flex;
}
#header.on::after {
  display: block;
  content: "";
  width: 95%;
  height: 0.5px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  background-color: #eee;
}
#header.white {
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(153, 153, 153, 0.1);
}
#header.white h1 a {
  color: #4F5959;
}
#header.white h1 a::before {
  background-image: url(../../img/logo/color.svg);
}
#header.white nav .header-gnb > li > a {
  color: #4F5959;
}
#header.white .header-icon li > a i {
  color: #4F5959;
}
#header.white .header-icon li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
#header.white .header-icon li > span > img {
  height: 100%;
  object-fit: cover;
}
#header.white .header-icon li > span:nth-of-type(1) {
  display: none;
}
#header.white .header-icon li > span:nth-of-type(2) {
  display: block;
}
#header.white.on {
  background-color: #fff;
  box-shadow: none;
}
#header.search {
  background-color: #fff;
  height: 200px;
  padding: 0 400px;
  z-index: 5;
  transition: height 0.5s;
  display: flex;
  align-items: center;
}
#header.search h1 {
  height: 200px;
  display: flex;
  align-items: center;
}
#header.search h1 a {
  font: bold 30px/1 "NotoSansKR";
  color: #4F5959;
}
#header.search h1 a::before {
  width: 40px;
  height: 40px;
  background-image: url(../img/logo/color.svg);
}
#header.search nav {
  display: none;
}
#header.search #search-txt {
  display: block;
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 2px solid #4F5959;
  font: 18px/1 "NotoSansKR";
  padding: 10px 0;
}
#header.search .search-close {
  display: flex;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  background-color: #DA2128;
  justify-content: center;
  align-items: center;
}
#header.search .search-close > i {
  font-size: 30px;
  color: #fff;
}
#header.search .header-icon {
  height: auto;
  display: flex;
  align-items: center;
}
#header.search .header-icon li > a {
  width: 30px;
  height: 30px;
}
#header.search .header-icon li > a i {
  color: #4F5959;
  font-size: 30px;
}
#header.search .header-icon li:nth-of-type(2), #header.search .header-icon li:nth-of-type(3), #header.search .header-icon li:nth-of-type(4) {
  display: none;
}
#header.search::after {
  display: none;
}

#footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(153, 153, 153, 0.1);
}
#footer .footer-inner {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding: 30px 0;
}
#footer .footer-inner .footer-left {
  flex: 2;
  width: 100%;
  height: 100%;
  position: relative;
}
#footer .footer-inner .footer-left > h2 {
  font: bold 24px/1 "NotoSansKR";
  color: #4F5959;
  margin-bottom: 10px;
}
#footer .footer-inner .footer-left > ul {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}
#footer .footer-inner .footer-left > ul > li {
  margin-right: 5px;
}
#footer .footer-inner .footer-left > ul > li > a {
  font: 13px/1 "NotoSansKR";
  color: #888;
}
#footer .footer-inner .footer-left p {
  position: absolute;
  bottom: 0;
  font: 13px/1 "NotoSansKR";
  color: #888;
}
#footer .footer-inner .footer-left #family-site {
  position: absolute;
  right: 40px;
  bottom: 0;
  padding: 0 15px;
  font: 16px/1 "NotoSansKR";
}
#footer .footer-inner .footer-right {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
#footer .footer-inner .footer-right .footer-villiv {
  width: 100%;
  height: 100%;
  background-color: #493F38;
}
#footer .footer-inner .footer-right .footer-villiv > a {
  display: block;
  width: 100%;
  height: 100%;
}
#footer .footer-inner .footer-right .footer-villiv > a > img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
#footer .footer-inner .footer-right .footer-villiv > ul {
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 20px;
  gap: 20px;
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
