

#main-visual {
    position: relative;
    width: 100%;
    height: 95vh;

    .frame {
        position: absolute;
        width: 100%;
        height: 100%;

        >li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.on {
                opacity: 1;
                z-index: 2;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.3);
                z-index: 2;
            }
        }
    }

    .frame-name {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        width: 400px;
        height: 50px;
        z-index: 3;

        >li {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;

            >a {
                font: 20px/1 'NotoSansKR';
                color: #fff;
                position: relative;

                &::after{
                    position: absolute;
                    bottom: -5px;
                    display: block;
                    content: '';
                    width: 0%;
                    height: 1px;
                    transition: 0.5s;
                    background-color: #fff;
                }
                
                &:hover {
                    &::after{
                        width: 100%;
                    }
                }
            }

            &.on {
                display: block;
            }
        }
    }
}

#field {
    position: relative;
    width: 100%;
    height: 100vh;

    .frame-index {
        position: absolute;
        top: -50px;
        left: 70px;
        width: 60vw;
        height: 200px;
        transform: translateY(-50%);
        z-index: 3;
        display: flex;
        align-items: end;
        transition: 0.5s;

        >li {
            position: relative;
            flex: 1;
            width: 100%;
            height: 60%;
            background-color: rgba($color: $mainColor, $alpha: .9);
            padding-top: 30px;
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 10px;
            transition: 0.5s;

            >a {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 10px;
                font: 35px/1 'NotoSansKR';
                color: #ddd;
                cursor: default;

                >span {
                    font-size: 25px;
                }
            }

            .bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 10px;
                background-color: #fff;
            }

            &.on {
                flex: 1.5;
                height: 100%;
                padding-top: 50px;

                >a {
                    font: 55px/1 'NotoSansKR';
                    color: #fff;

                    >span {
                        font-size: 35px;
                    }
                }

                .bar {
                    animation: bar-ani 5s linear;
                }
            }


        }

        &.on {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            >li {
                flex: 1;
                height: 100%;
                padding-top: 50px;

                >a {
                    font: 55px/1 'NotoSansKR';
                    color: #fff;

                    >span {
                        font-size: 35px;
                    }
                }

                &.on {
                    flex: 1;
                    height: 100%;

                }

                .bar {
                    display: none;
                }
            }
        }
    }
}

#news {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

#villiv {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: blue;
}

#footer {
    width: 100%;
    height: 200px;
    background-color: #000;
}

@keyframes bar-ani {
    0% {width: 0%;}
    100% {width: 100%;}
}