@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-kr-v36-korean-regular.eot');
    src: url('../fonts/noto-sans-kr-v36-korean-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/noto-sans-kr-v36-korean-regular.woff2') format('woff2'),
         url('../fonts/noto-sans-kr-v36-korean-regular.woff') format('woff'),
         url('../fonts/noto-sans-kr-v36-korean-regular.ttf') format('truetype'),
         url('../fonts/noto-sans-kr-v36-korean-regular.svg#NotoSansKR') format('svg');
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'NotoSansKR';
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.hidden {
    position: absolute;
    top: -99999999px;
    opacity: 0;
}

$mainColor: #DA2128;
$subColor:#4F5959;
$tablet: 1024px;
$mobile: 768px;
