#sub-location {
    width: 100%;
    position: relative;

    .map-wrap {
        width: 90%;
        height: 500px;
        margin: 100px auto;
        display: flex;
        position: relative;

        #map {
            width: 60%;
            position: relative;

        }

        .map-txt {
            width: 40%;
            height: 100%;
            padding: 30px 0px 30px 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            >h3 {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 30px;
                border-bottom: 1px solid #eee;

                >p {
                    font: bold 28px/1 'NotoSansKR';
                    color: $mainColor;

                    &:last-of-type {
                        font: bold 20px/1 'NotoSansKR';
                        color: $subColor;
                    }

                    >i {
                        margin-right: 10px;
                    }
                }

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }

    }

    
    .publictransport-wrap {
        width: 80%;
        margin: 0 auto;

        >ul {
           
            >li{
                position: relative;

                &.bus {
                    margin: 150px 0;
                    font: bold 26px/1 'NotoSansKR';
                    
                    >ul {
                        margin: 50px 0;
                        
                        >li {
                            margin: 50px 0;
                            font: bold 20px/1 'NotoSansKR';
                            background-color: #f8f8f8;
                            border-radius: 10px;
                            padding: 20px 30px;

                            >ul {
                                border-bottom: .5px solid #eee;
                                display: flex;
                                flex-wrap: wrap;
                                gap: 25px;
                                margin-top: 20px;
    
                                >li {
                                    padding: 5px 0;
                                    font: 16px/1 'NotoSansKR';
                                    color: $subColor;

                                    &:first-of-type {
                                        padding: 5px 15px;
                                        color: #fff;
                                        border-radius: 5px;
                                    }

                                    &.back-b {
                                        background-color: #2B75E4;
                                    }

                                    &.back-y {
                                        background-color: #F0BF12;
                                    }

                                    &.back-r {
                                        background-color: #DC2B20;
                                    }

                                    &.back-g {
                                        background-color: #4BAA11;
                                    }

                                    &.back-lg {
                                        background-color: #A0CA5B;
                                    }
                                }
                            }
                        }
                    }
                }

                &.subway {
                    margin: 100px 0 50px;
                    font: bold 26px 'NotoSansKR';
                    
                    >ul {

                        >li {
                            margin: 50px 0;
                            font: bold 20px/1 'NotoSansKR';
                            background-color: #f8f8f8;
                            border-radius: 10px;
                            padding: 20px 30px;

                            >ul {
                                margin-top: 20px;
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                
    
                                >li {
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 20px;
                                    border-bottom: .5px solid #eee;


                                    >p {
                                        font: 16px/1.5 'NotoSansKR';
                                        padding: 5px 10px;
                                        color: #fff;
                                        border-radius: 5px;

                                        &.line1 {
                                            background-color: #263C96;
                                        }
    
                                        &.line2 {
                                            background-color: #3CB44A;
                                        }
    
                                        &.line4 {
                                            background-color: #2C9EDE;
                                        }
    
                                        &.lineg1 {
                                            background-color: #7CC4A5;
                                        }
    
                                        &.lineg2 {
                                            background-color: #69A5D1;
                                        }

                                    }

                                    >span {
                                        font: 16px/30px 'NotoSansKR';
                                    }
                                }
                            }
                        }
                    }
                }

                &::before {
                    display: block;
                    content: '';
                    background-image: url('../img/logo/color.svg');
                    width: 90px;
                    height: 30px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    #sub-location {
    
        .map-wrap {
            height: 400px;
    
            .map-txt {
                padding: 20px;
                margin-left: 20px;
    
                >h3 {
                    gap: 20px;
                    >p {
                        font: bold 24px/1 'NotoSansKR';
    
                        &:last-of-type {
                            font: bold 18px/2 'NotoSansKR';
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    #sub-location {

        .map-wrap {
            width: 100%;
            height: auto;
            flex-direction: column;
            margin: 0 0 70px;

            #map {
                width: 100%;
                height: 400px;
            }

            .map-txt {
                width: 90%;
                margin: 50px auto;
                height: 300px;
                padding: 0px;
    
                >h3 {
                    gap: 10px;
                    >p {
                        font: bold 22px/1 'NotoSansKR';
    
                        &:last-of-type {
                            font: bold 16px/1 'NotoSansKR';
                            color: $subColor;
                        }
    
                    }

                }
            }
        }

        .publictransport-wrap {
            width: 100%;
    
            >ul {
               
                >li{
    
                    &.bus {
                        margin: 0;
                        font: bold 22px/1 'NotoSansKR';
                        
                        >ul {
                            margin: 30px 0;
                            
                            >li {
                                font: bold 18px/1 'NotoSansKR';

                                >ul {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
    
                    &.subway {
                        margin: 100px 0 50px;
                        font: bold 22px/1 'NotoSansKR';
                        
                        >ul {
    
                            >li {
                                font: bold 18px/1 'NotoSansKR';
    
                                >ul {
                                    
                                    >li {
                                        border-bottom: none;

                                        >p {
                                            padding: 0 10px;
                                            font: 16px/30px 'NotoSansKR';
                                        }
    
                                    }
                                }
                            }
                        }
                    }
    
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #sub-location {

        .publictransport-wrap {
            width: 100%;
    
            >ul {
               
                >li{
    
                    &.bus {
                        margin: 0;
                        font: bold 18px/1 'NotoSansKR';
                        
                        >ul {
                            margin: 0;
                            
                            >li {
                                margin: 50px 0;
                                font: bold 16px/1 'NotoSansKR';

                                >ul {
                                    gap: 0px;
                                    >li {
                                        padding: 5px 15px;
                                        font: 14px/1 'NotoSansKR';

                                        &:nth-of-type(1) {
                                            width: 100%;
                                            margin-bottom: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    &.subway {
                        font: bold 18px/1 'NotoSansKR';
                        
                        >ul {
                            margin: 0;

                            >li {
                                font: bold 16px/1 'NotoSansKR';
    
                                >ul {
                                    
                                    >li {
                                        gap: 10px;
                                        border-bottom: none;

                                        >p {
                                            padding: 0 10px;
                                            font: 14px/30px 'NotoSansKR';
                                        }
    
                                        >span {
                                            font: 13px/30px 'NotoSansKR';
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                }
            }
        }
    }
}