#sitemap {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    display: flex;

    .sitemap-close {
        display: flex;
        position: absolute;
        width: 70px;
        height: 70px;
        top: 0;
        right: 0;
        background-color: $mainColor;
        justify-content: center;
        align-items: center;
        
        >i {
            font-size: 30px;
            color: #fff;
        }
    }

    .sitemap-left {
        width: 15%;
        height: 100%;
        background-color: #fff;
        padding: 200px 20px 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 1px 10px rgba(153, 153, 153, 0.1);

        >h2 {
            font: bold 40px/1 'NotoSansKR';
            color: $mainColor;
            position: relative;
            cursor: default;

            &::before {
                display: block;
                content: '';
                width: 80px;
                height: 80px;
                position: absolute;
                top: -100px;
                left: 50%;
                transform: translateX(-50%);
                background-image: url('../../img/logo/color.svg');
                background-size: cover;
                cursor: pointer;
                animation: rotate 30s linear infinite;
            }

            &:hover {
                &::before {
                    animation-play-state: paused;
                }
            }
        }

        .sitemap-btns {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            >li {
                width: 100%;
                display: flex;
                justify-content: center;

                >a {
                    display: flex;
                    width: 90%;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    font: 18px/1 'NotoSansKR';
                    color: $subColor;
                    border-radius: 5px;
                    background-color: $mainColor;
                    color: #f8f8f8;
                }
            }
        }

        >p {
            position: absolute;
            bottom: 50px;
            font: 12px/1 'NotoSansKR';
            color: $subColor;
        }
    }

    .sitemap-right {
        width: 85%;
        height: 100%;
        padding: 150px;
        padding-left: 100px;

        .sitemap-1depth {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;

            >li {

                flex: 1;

                >a {
                    display: flex;
                    width: 100%;
                    height: 100px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    font: bold 30px/1 'NotoSansKR';
                    color: $subColor;

                    >span {
                        font: bold 18px/1 'NotoSansKR';
                        color: $mainColor;
                    }
                }

                .sitemap-2depth {
                    width: 100%;

                    >li {

                        >a {
                            display: flex;
                            width: 100%;
                            height: 50px;
                            align-items: center;
                            font: bold 18px/1 'NotoSansKR';
                            color: $subColor;

                            &::before {
                                display: block;
                                content: '·';
                                margin: 0 10px;
                            }
                        }

                        .sitemap-3depth {
                            width: 100%;
                            position: relative;
                            
                            >li {
                                margin-left: 10px;
                                width: 100%;
                                height: 30px;
                                position: relative;

                                &::before {
                                    display: block;
                                    content: '';
                                    width: 1px;
                                    height: 100%;
                                    background-color: $mainColor;
                                    position: absolute;
                                    left: 0px;

                                }

                                >a {
                                    display: block;
                                    width: 100%;
                                    font: 16px/30px 'NotoSansKR';
                                    color: $subColor;
                                    margin-left: 15px;
                                }

                                .sitemap-4depth {
                                    width: 100%;
                                    height: 30px;
                                    display: flex;
                                    gap: 20px;
                                    position: absolute;
                                    left: 110px;
                                    top: 0;

                                    >li {
                                        >a {
                                            font: 15px/30px 'NotoSansKR';
                                            color: #888;
                                        }
                                    }
                                }
                            }

                            
                        }
                    }
                }

                &:nth-of-type(4) {
                    flex: 1.5;
                }
            }
        }
    }
}

@keyframes rotate {
    0% {transform: translateX(-50%) rotate(0deg);}
    100% {transform: translateX(-50%) rotate(360deg);}
}