.sub-inner {
    width: 100%;
    height: auto;
    padding: 150px 0 100px;

    .sub-nav {
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: $mainColor;
        z-index: 4;

        >ul {
            display: flex;
            width: 100%;
            height: 100%;

            >li {
                max-width: auto;
                height: 50px;
                
                >a {
                    display: flex;
                    width: auto;
                    height: 50px;
                    text-align: left;
                    align-items: center;
                    font: 16px/1 'NotoSansKR';
                    color: #fff;
                    cursor: default;

                    &::after {
                        display: block;
                        cursor: default;
                        content: '>';
                        margin: 0 20px;
                    }
                }

                &:nth-of-type(1) {
                    >a {
                        cursor: pointer;
                        margin-left: 40px;
                    }
                }

                &:nth-of-type(3) {
                    >a {
                        cursor: pointer;
                        &::after {
                            display: none;
                        }
                    }
                }

                >ul {
                    visibility: hidden;
                    background-color: $subColor;
                    padding: 20px;
                    border-radius: 0px;
                    opacity: 0;
                    transition: .3s;
                    
                    >li {
                        width: 150px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        color: #ddd;
                        font: 16px/1 'NotoSansKR';
                        border-bottom: .5px solid #777;

                        >a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            display: flex;
                            color: #fff;
                            font-weight: bold;
                        }

                        &:last-of-type {
                            border-bottom: none;
                        }
                    }

                    &.on {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .sub-content {
        width: 80%;
        margin: 0 auto;

        .sub-title {
            width: 100%;
            height: 250px;
            padding: 100px 50px 50px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 2px solid $mainColor;

            >h2 {
                font: bold 50px/1 'NotoSansKR';
            }

            >p {
                font: 18px/1 'NotoSansKR';
            }

            &.history-title {
                border-bottom: none;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .sub-inner {
    
        .sub-nav {
            >ul {
    
                >li {
                    
                    >a {
                        font: 14px/1 'NotoSansKR';
                    }
    
                    >ul {

                        
                        >li {
                            font: 14px/1 'NotoSansKR';
            
                        }
                    }
                }
            }
        }
    
        .sub-content {
    
            .sub-title {
                height: 200px;
                justify-content: end;
                gap: 20px;
    
                >h2 {
                    font: bold 40px/1 'NotoSansKR';
                }
    
                >p {
                    font: 16px/1 'NotoSansKR';
                }

            }
        }
    }
}

@media screen and (max-width: 915px) {
    .sub-inner {
    
        .sub-content {
    
            .sub-title {

                padding: 100px 20px 50px;
    
                >p {
                    display: none;
                }

            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .sub-inner {
    
        .sub-nav {
            top: 70px;
        }

        .sub-content {
    
            .sub-title {
                height: 100px;
                padding: 70px 30px 20px;
    
                >h2 {
                    font: bold 36px/1 'NotoSansKR';
                }

            }
        }
    }
}

@media screen and (max-width:500px) {
    .sub-inner {
        padding: 130px 0 50px;
    
        .sub-nav {
            top: 70px;
            height: 40px;
    
            >ul {
    
                >li {
                    height: 40px;
                    
                    >a {
                        height: 40px;
                        font: 12px/1 'NotoSansKR';
    
                        &::after {
                            margin: 0 10px;
                        }
                    }
    
                    &:nth-of-type(1) {
                        >a {
                            margin-left: 20px;
                        }
                    }
    
                    >ul {
                        padding: 10px;
                        
                        >li {
                            width: 130px;;
                            font: 12px/1 'NotoSansKR';
    
                            >a {
                                color: #fff;
                                font-weight: normal;
                            }
                        }
    
                    }
                }
            }
        }

        .sub-content {
            .sub-title {
                height: 100px;
                padding: 50px 0px 20px;
    
                >h2 {
                    font: bold 26px/1 'NotoSansKR';
                }

            }
        }
    }
}

@media screen and (max-width:400px) {
    .sub-inner {
        padding: 100px 0 50px;
        .sub-nav {
            top: 50px;
    
        }
    }
}