#sub-vision {
    width: 80%;
    height: auto;
    margin: 0 auto;

    >div {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 200px;

        >span {
            display: block;
            font: bold 20px/1 "NotoSansKR";
            margin-left: 70px;
            margin-bottom: 30px;
            position: relative;

            &::before {
                display: block;
                content: '';
                background-image: url('../img/logo/color.svg');
                width: 60px;
                height: 100%;
                position: absolute;
                left: -70px;
            }
        }

        &.content1 {
            margin-top: 200px;
            >h2 {
                position: relative;
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font: 45px/2 "NotoSansKR";

                &::before {
                    position: absolute;
                    display: block;
                    content: '';
                    background-image: url('../img/logo/color.svg');
                    width: 30%;
                    height: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    background-repeat: no-repeat;
                    opacity: .2;
                }
            }
        }

        &.content2 {
            >h2 {
                position: relative;
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font: bold 45px/2 "NotoSansKR";
                color: $mainColor;
            }
            >p {
                font: 18px/2 "NotoSansKR";
            }
        }

        &.content3 {
            padding-top: 50px;

            >img {
                margin-top: 100px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}