#sub-vision {
    width: 80%;
    height: auto;
    margin: 0 auto;

    >div {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 200px;

        >span {
            display: block;
            font: bold 20px/1 "NotoSansKR";
            margin-left: 70px;
            margin-bottom: 30px;
            position: relative;
            color: $subColor;

            &::before {
                display: block;
                content: '';
                background-image: url('../img/logo/color.svg');
                width: 60px;
                height: 100%;
                position: absolute;
                left: -70px;
                opacity: .9;
            }
        }

        &.content1 {
            margin-top: 200px;
            >h2 {
                position: relative;
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font: 45px/2 "NotoSansKR";

                &::before {
                    position: absolute;
                    display: block;
                    content: '';
                    background-image: url('../img/logo/color.svg');
                    width: 30%;
                    height: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    background-repeat: no-repeat;
                    opacity: .2;
                }
            }
        }

        &.content2 {
            >.vision-bg {
                position: relative;
                width: 100%;
                height: 400px;
                padding: 20px;
                background: url('../img/vision/background.jpg') no-repeat center/cover fixed;

                >h2 {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    font: bold 50px/1 "NotoSansKR";
                    color: #fff;
                    left: 50%;
                    bottom: 30px;
                    transform: translateX(-50%);
                    z-index: 2;
                }

                &::before {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    top: 0;
                    left: 0;
                    opacity: .4;
                }
            }
            >p {
                font: 18px/2 "NotoSansKR";
                margin-top: 30px;
                text-align: center
            }
        }

        &.content3 {
            >img {
                margin-top: 100px;
                width: 100%;
                object-fit: cover;
            }
        }

        &.content4 {
            >p {
                font: 18px/2 "NotoSansKR";
                text-align: center;
                margin: 50px 0 80px;
            }

            >ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                >li {
                    display: flex;
                    width: 70%;
                    height: 70px;
                    background-color: #f7f7f7;

                    >h3 {
                        flex: 1;
                        background-color: $mainColor;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font: 26px/1 "NotoSansKR";
                        color: #fff;
                        border-radius: 0 50px 50px 0;
                    }

                    >span {
                        flex: 2;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font: bold 20px/1 "NotoSansKR";
                    }
                }
            }
        }

        &.content5 {
            margin-bottom: 100px;

            >ul {
                width: 100%;
                display: flex;
                padding-top: 50px;

                >li {
                    flex: 1;
                    width: 100%;
                    height: 500px;
                    text-align: center;
                    margin: 10px;
                    position: relative;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                    >.vision-txt {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        bottom: 0;
                        background-color: rgba($color: #000, $alpha: .5);
                        padding: 50px 0px;
                    
                        >span {
                            display: block;
                            font: bold 40px/1 'NotoSansKR';
                            color: #fff;
                            margin-bottom: 20px;
                        }

                        >h3 {
                            font: bold 20px/1.5 'NotoSansKR';
                            color: #fff;
                            margin-bottom: 180px;
                        }

                        >p {
                            font: bold 16px/1.5 'NotoSansKR';
                            color: #f7f7f7;
                            margin-bottom: 20px;
                        }
                    }

                    &:nth-of-type(1) {
                        >.vision-txt {
                            >h3 {
                                margin-bottom: 150px;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    #sub-vision {
        width: 100%;
    
        >div {
            margin-bottom: 150px;
    
            >span {
                font: bold 20px/1 "NotoSansKR";
            }
    
            &.content1 {
                margin-top: 100px;
                >h2 {
                    font: 30px/2 "NotoSansKR";
    
                    &::before {
                        width: 100%;
                        height: 50%;
                        top: 0;
                        left: 0;
                        transform: none;
                    }
                }
            }
    
            &.content2 {
                >.vision-bg {

                    background: url('../img/vision/background.jpg') no-repeat center/cover fixed;
    
                    >h2 {
                        font: bold 26px/1 "NotoSansKR";
                    }
                }

                >p {
                    font: 16px/2 "NotoSansKR";
                }
            }
    
    
            &.content4 {
                >p {
                    font: 16px/2 "NotoSansKR";
                    text-align: center;
                    margin: 50px 0;
                }
    
                >ul {
    
                    >li {
                        width: 80%;
                        height: 40px;
    
                        >h3 {
                            font: 20px/1 "NotoSansKR";
                        }
    
                        >span {
                            font: bold 16px/1 "NotoSansKR";
                        }
                    }
                }
            }
    
            &.content5 {
                margin-bottom: 100px;
    
                >ul {
                    flex-direction: column;
                    gap: 20px;
    
                    >li {
                        width: 100%;
                        height: 200px;
                        margin: 0px;
    
                        >img {
                            height: 200px;
                            object-fit: cover;
                        }
                        
                        >.vision-txt {
                            height: 200px;
                            position: absolute;
                            top: 0;
                            background-color: rgba($color: #000, $alpha: .5);
                            padding: 10px 0px;
                        
                            >span {
                                font: bold 36px/1 'NotoSansKR';
                                margin-bottom: 20px;
                            }
    
                            >h3 {
                                font: bold 18px/1.5 'NotoSansKR';
                                margin-bottom: 20px;
                            }
    
                            >p {
                                font: bold 14px/1.5 'NotoSansKR';
                                color: #f7f7f7;
                                margin-bottom: 10px;
                            }
                        }

                        &:nth-of-type(1) {
                            >.vision-txt {
                                >h3 {
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #sub-vision {
    
        >div {
            margin-bottom: 100px;
    
            >span {
                font: bold 14px/1 "NotoSansKR";
                margin-left: 46px;

                &::before {
                    width: 42px;
                    left: -46px;
                    opacity: .9;
                }
            }
    
            &.content1 {
                >h2 {
                    height: 100px;
                    font: bold 16px/2 "NotoSansKR";
    
                    &::before {
                        display: none;
                    }
                }
            }
    
            &.content2 {
                >.vision-bg {
                    
                    height: 200px;

                    >h2 {
                        font: bold 20px/1 "NotoSansKR";
                    }
                }

                >p {
                    font: 14px/2 "NotoSansKR";
                }
            }
    
    
            &.content4 {
                >p {
                    font: 14px/2 "NotoSansKR";
                }
    
                >ul {
    
                    >li {
                        width: 100%;
    
                        >h3 {
                            font: 16px/1 "NotoSansKR";
                        }
    
                        >span {
                            font: bold 14px/1 "NotoSansKR";
                        }
                    }
                }
            }
    
            &.content5 {
                margin-bottom: 50px;
                >ul {
    
                    >li {
                        height: 100px;
    
                        >img {
                            height: 100px;
                        }
                        
                        >.vision-txt {
                            height: 100px;
                            padding: 20px 0px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                        
                            >span {
                                font: bold 20px/1 'NotoSansKR';
                                margin-bottom: 0px;
                            }
    
                            >h3 {
                                font: bold 16px/1.5 'NotoSansKR';
                                margin-bottom: 0px;
                            }
    
                            >p {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}