#field {
    position: relative;
    width: 100%;
    min-height: 100vh;

    >h2 {
        position: absolute;
        left: 15%;
        top: 150px;
        font: 24px/1 'NotoSansKR';
        color: $subColor;

        &::before {
            display: inline-block;
            content: '';
            width: 18px;
            height: 18px;
            background-image: url('../img/logo/color.svg');
            background-size: cover;
            margin-right: 10px;
        }
    }

    .frame-index {
        position: absolute;
        top: -50px;
        left: 70px;
        width: 60vw;
        height: 200px;
        transform: translateY(-50%);
        z-index: 3;
        display: flex;
        align-items: end;
        transition: top 0.5s;

        >li {
            position: relative;
            flex: 1;
            width: 100%;
            height: 60%;
            background-color: $mainColor;
            padding-top: 30px;
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 10px;
            transition: 0.5s;

            >a {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 10px;
                font: 35px/1 'NotoSansKR';
                color: #ddd;
                cursor: default;

                >span {
                    font-size: 25px;
                }
            }

            .bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 5px;
                background-color: rgba(255,255,255,.5);
            }

            &.on {
                flex: 1.5;
                height: 100%;
                padding-top: 50px;
                position: relative;

                >a {
                    font: 55px/1 'NotoSansKR';
                    color: #fff;

                    >span {
                        font-size: 35px;
                    }
                }

                .bar {
                    animation: bar-ani 5s linear;
                }

            }

        }

        &.on {
            top: 35%;
            left: 50%;
            width: 70vw;
            height: 100px;
            transform: translateX(-50%);
            gap: 20px;

            >li {
                flex: 1;
                height: 100%;
                padding-top: 0;
                align-items: center;
                background-color: $mainColor;

                >a {
                    font: 26px/1 'NotoSansKR';
                    color: #fff;

                    >span {
                        font-size: 20px;
                    }
                }

                .bar {
                    display: none;
                }
            }
        }
    }

    .field-img {
        position: absolute;
        display: flex;
        top: 25%;
        left: 50%;
        width: 70vw;
        height: 45vh;
        transform: translateX(-50%);
        margin-top: 150px;
        gap: 20px;
        opacity: 0;

        >li {
            flex: 1;
            width: 100%;
            height: 100%;
            position: relative;

            .field-txt {
                position: absolute;
                width: 100%;
                top: -120px;
                left: 10px;

                span {
                    color: $subColor;

                    &.field-num {
                        font: bold 3vw/1 "arial";
                    }

                    &:nth-of-type(2) {
                        margin-left: 10px;
                        font: 2vw/1 "NotoSansKR";
                    }
                }

                &::after {
                    display: block;
                    content: '';
                    width: 3vw;
                    height: 3vw;
                    background-image: url('../img/icon/ic-project01.svg');
                    background-size: cover;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: .5;
                }

            }
            
            a {
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s;


                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            &:nth-of-type(2) {
                .field-txt {
                    &::after {
                        background-image: url('../img/icon/ic-project02.svg');
                    }
                }
            }
            &:nth-of-type(3) {
                .field-txt {
                    &::after {
                        background-image: url('../img/icon/ic-project03.svg');
                    }
                }
            }
            &:nth-of-type(4) {
                .field-txt {
                    &::after {
                        background-image: url('../img/icon/ic-project04.svg');
                    }
                }
            }
            
        }

        &.on {
            animation: opacity 1s linear;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes bar-ani {
    0% {width: 0%;}
    100% {width: 100%;}
}
@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width: 1500px) {
    #field {
        >h2 {
            left: 15%;
            top: 200px;
            font: bold 20px/1 'NotoSansKR';
        }
    
        .frame-index {
            top: -50px;
            left: 50%;
            width: 80%;
            transform: translate(-50%, -50%);
    
            >li {
                >a {
                    font: 30px/1 'NotoSansKR';

                    >span {
                        font-size: 20px;
                    }
                }
    
                .bar {
                    height: 3px;
                }
    
                &.on {
                    >a {
                        font: 45px/1 'NotoSansKR';
                        gap: 20px;
    
                        >span {
                            font-size: 30px;
                        }
                    }
                }
    
            }
    
            &.on {
                top: 350px;
                width: 70vw;
                height: 80px;
    
                >li {
                    >a {
                        font: 24px/1 'NotoSansKR';
    
                        >span {
                            font-size: 18px;
                        }
                    }

                    &.on {
                        >a {
                            gap: 10px;
                        }
                    }
                }
            }
        }
    
        .field-img {
            top: 350px;
            height: 45vh;
            margin-top: 0;
    
            >li {
                .field-txt {
                    top: -50px;
                }
                
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    #field {
        >h2 {
            top: 15%;
            font: bold 16px/1 'NotoSansKR';

            &::before {
                width: 14px;
                height: 14px;
                background-image: url('../img/logo/color.svg');
            }
        }
    
        .frame-index {
            top: calc(150 / 4);
            height: 150px;
    
            >li {
                padding-top: 20px;
                >a {
                    font: 20px/1 'NotoSansKR';

                    >span {
                        font-size: 16px;
                    }
                }
    
                .bar {
                    height: 3px;
                }
    
                &.on {
                    flex: 1.3;
                    padding-top: 30px;
                    >a {
                        font: 30px/1 'NotoSansKR';
                        gap: 10px;
    
                        >span {
                            font-size: 24px;
                        }
                    }
                }
    
            }
    
            &.on {
                top: 40%;
                width: 70vw;
                height: 40px;
    
                >li {
                    >a {
                        font: 20px/1 'NotoSansKR';
    
                        >span {
                            display: none;
                        }
                    }

                    &.on {
                        padding-top: 0px;
                        flex: 1;
                        >a {
                            font: 20px/1 'NotoSansKR';
                        }
                    }
                }
            }
        }
    
        .field-img {
            top: 40%;
            height: 40vh;
            margin-top: 0;
    
            >li {
                .field-txt {
                    top: -40px;
                }
                
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    #field {
        min-height: 85vh;

        >h2 {
            left: 10%;
            top: 100px;
            font: bold 14px/1 'NotoSansKR';

            &::before {
                margin-right: 5px;
                width: 14px;
                height: 14px;
                background-image: url('../img/logo/color.svg');
            }
        }
    
        .frame-index {
            left: 0;
            top: -40%;
            transform: none;
            flex-direction: column;
            align-items: start;
            height: 200px;
            width: 140px;
    
            >li {
                padding-top: 0px;
                width: 60%;
                height: auto;
                justify-content: center;
                align-items: center;

                >a {
                    font: 14px/1 'NotoSansKR';
                    flex-direction: row;
                    >span {
                        display: none;
                    }
                }

                &.on {
                    flex: 1.2;
                    width: 100%;
                    padding-top: 0px;
                    >a {
                        font: 20px/1 'NotoSansKR';
                        gap: 10px;
    
                        >span {
                            font-size: 24px;
                        }
                    }
                }
    
            }
    
            &.on {
                top: 150px;
                width: 80%;
                height: 60vh;
                
                gap: 0;
    
                >li {
                    margin: 10px;
                    width: 30%;
                    height: 30%;
                    flex: 1;

                    >a {
                        font: 16px/1 'NotoSansKR';
    
                        >span {
                            display: none;
                        }
                    }

                    &.on {
                        >a {
                            font: 16px/1 'NotoSansKR';
                        }
                    }
                }
            }
        }
    
        .field-img {
            display: flex;
            flex-direction: column;
            top: 150px;
            width: 80%;
            height: 60vh;
            margin-top: 0;
            gap: 0;
    
            >li {
                width: 100%;
                height: 100%;
                position: relative;
                margin: 10px;

                .field-txt {
                    position: absolute;
                    top: 50%;
                    left: 70%;
                    transform: translateY(-50%);
                    display: flex;
                    width: 30%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;

                    span {

                        &.field-num {
                            font: bold 20px/1 "arial";
                            
                        }

                        &:nth-of-type(2) {
                            margin-left: 5px;
                            font: 18/1 "NotoSansKR";
                        }
                    }

                    &::after {
                        display: none;
                    }
                }

                a {
                    position: absolute;
                    left: 30%;
                    width: 40%;
                    height: 100%;
                }
                
            }


        }
    }
}