#villiv {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/visual/main_villiv\ 백그라운드.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .4;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    >.villiv-txt {
        width: 70%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 300px 0;
        z-index: 1;

        >span {
            font: 20px/1 'NotoSansKR';
            color: #f7f7f7;
        }

        >h2 {
            font: bold 40px/2 'NotoSansKR';
            color: #f7f7f7;
        }

        >p {
            font: 16px/2 'NotoSansKR';
            color: #f7f7f7;
        }
    }
}

@media screen and (max-width: $tablet) {
    #villiv {

        >.villiv-txt {
            height: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
    
            >span {
                font: 18px/1 'NotoSansKR';
            }
    
            >h2 {
                font: bold 30px/1.5 'NotoSansKR';
            }
    
            >p {
                font: 14px/2 'NotoSansKR';
                color: #f7f7f7;
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    #villiv {

        >.villiv-txt {
            width: 90%;
            height: 50%;
            top: 50%;
            gap: 20px;
    
            >span {
                font: 12px/1 'NotoSansKR';
            }
    
            >h2 {
                font: bold 22px/1.5 'NotoSansKR';
            }
    
            >p {
                display: none;
            }
        }
    }
}